In [13]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
df=pd.read_csv('mul_anomaly+v1.csv')

In [3]:
df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Anomaly
0,Male,No,0,Graduate,No,5849,0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
94,Male,No,0,Not Graduate,No,3620,0,25.0,120.0,1.0,Semiurban,Y
95,Male,No,0,Graduate,NaN,6782,0,NaN,360.0,NaN,Urban,N
96,Female,Yes,0,Graduate,No,2484,2302,137.0,360.0,1.0,Semiurban,Y
97,Male,Yes,0,Graduate,No,1977,997,50.0,360.0,1.0,Semiurban,Y
98,Male,Yes,0,Not Graduate,No,4188,0,115.0,180.0,1.0,Semiurban,Y

In [6]:
for i in df.columns:
    clas=df[i].dtypes    
   
    if clas=='object':
        df[i].fillna(df[i].mode()[0],inplace=True)
    else:
        df[i].fillna(df[i].mean(),inplace=True)

object
object
object
object
object
int64
int64
float64
float64
float64
object
object

In [38]:
le=LabelEncoder()
df1=df.copy()
for i in df1.columns:
    cls=df1[i].dtypes
    if cls=='object':
        df1[i]=df1[[i]].astype(str).apply(le.fit_transform)
    else:
        df1[i]=df1[i]

In [39]:
df1

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Anomaly
0,1,0,0,0,0,5849,0,134.255319,360.0,1.000000,2,1
1,1,1,1,0,0,4583,1508,128.000000,360.0,1.000000,0,0
2,1,1,0,0,1,3000,0,66.000000,360.0,1.000000,2,1
3,1,1,0,1,0,2583,2358,120.000000,360.0,1.000000,2,1
4,1,0,0,0,0,6000,0,141.000000,360.0,1.000000,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
94,1,0,0,1,0,3620,0,25.000000,120.0,1.000000,1,1
95,1,0,0,0,0,6782,0,134.255319,360.0,0.835165,2,0
96,0,1,0,0,0,2484,2302,137.000000,360.0,1.000000,1,1
97,1,1,0,0,0,1977,997,50.000000,360.0,1.000000,1,1
98,1,1,0,1,0,4188,0,115.000000,180.0,1.000000,1,1

In [34]:
df1=df.copy()

In [37]:
df1.dtypes

Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome      int64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Anomaly               object
dtype: object